./CombineStudy/CombineStudy.xcodeproj/project.xcworkspace/xcuserdata/kakao.xcuserdatad/UserInterfaceState.xcuserstate
./CombineStudy/CombineStudy.xcodeproj/xcuserdata/kakao.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
~
